<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Investments">
  <test name="Open FFD Testcases">
    <classes>
      <class name="Snapwork.Tests.OpenFDTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Open SSP Testcases">
    <classes>
      <class name="Snapwork.Tests.OpenSSPTest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
